* {
  margin: 0;
  padding: 0;
}

#art-institute-link {
  margin-right: 20px;
}

.caption h3 {
  color: lightgray;
	text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

.caption h5 {
  color: lightgray;
	text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

#hero-img-one {
  background-image: url("https://www.artic.edu/iiif/2/bc30321e-1e8b-6ccb-e3da-01b01fe598e1/full/843,/0/default.jpg");
  background-position: center;
  background-size: cover;
}

#hero-img-two {
  background-image: url("https://www.artic.edu/iiif/2/7690dd6e-05ed-773c-a80e-e7cc4eb879cc/full/843,/0/default.jpg");
  background-position: center;
  background-size: cover;
}

#hero-img-three {
  background-image: url("https://www.artic.edu/iiif/2/9a9737e3-c296-a2b5-4d76-d88f50a61ff8/full/843,/0/default.jpg");
  background-position: center;
  background-size: cover;
}

#hero-img-four {
  background-image: url("https://www.artic.edu/iiif/2/173ec65a-bc7e-067c-fed1-1677bf5f26a9/full/843,/0/default.jpg");
  background-position: center;
  background-size: cover;
}

.sidenav-trigger {
  position: absolute;
  top: 0.75rem;
}

.sidenav-trigger i {
  font-size: 3rem;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

#modal-header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

#modal-header h4 {
  margin: 10px;
  color: lightgray;
}

#modal-text-area {
  text-align: center;
}

#fav-btn {
  margin: 10px;  
}

.modal-img img {
  width: 100%;
  height: 400px;
  margin-bottom: 12px;
  /* mobile height 270 */
}

img {
  object-fit: contain;
}

.input-field {
  margin: 0 20px;
}

.sidenav-trigger {
  margin-left: 15px;
}

.title h4 {
  color: darkgray;
  text-align: center;
  text-decoration: underline;
}

#fav-div {
  border-top: 2px solid darkgray;
}

.card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  width: 50%;
}

.card {
  cursor: pointer;
  background-image: linear-gradient(#ba68c8, #f3e5f5);
  box-shadow: 5px 10px 10px;
}

.card:hover {
  box-shadow: 3px 5px 5px;
}